html{
    background-image: url(../img/bg\ copia.jpg);
    background-size: cover;
    margin:0 auto;
}
header img{
    height: 40px;
    margin-left: 130px;
    margin-top: 40px;
}

header #title{
    color: white;
    text-align: center;
}
header h1{
    padding-top:40px;
font-family: 'Outfit', sans-serif; 
font-weight: bold;
font-size:50px;
}
header p {
padding-top: 10px;
font-family: 'Outfit', sans-serif; 
font-size: 25px;    
}

.container{ 
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 40px;

color: white;
}
.result{
   
   font-size: 50px;
font-family: 'Outfit', sans-serif;
}

#wrongQuest{
    color: #E1D6E4;
}
footer{
    padding: 60px;
    text-align: center;
}
button{
font-family: 'Outfit', sans-serif;   
text-transform: uppercase;
font-weight: 600;
font-size:20px;
padding: 15px 60px;

border-color:white ;
color: white;
background-color: transparent;
}

p{color:white;}


#data-label-center {
    font-size: 20px;
    position: absolute;
  }

  .relative {
    position: relative;
  }
  
  .absolute-center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text-center{
    text-align: center;
  }
  
  
  .absolute-center h2{color:white}

.absolute-center h3{
    font-size:20px;
    color:#03FFFF}

  .absolute-center p{
    margin-top:10px;
    line-height:1.5em;
    font-size:16px;}