/*Generale*/
body {
    font-size: 1em;
    background-image: url(../../../assets-immagini/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
}

/*header*/

header {
    text-align: left;
    width: auto;
}

#logo {
    height: 2rem;
    margin-left: 10rem;
    margin-top: 3rem;
    width: auto;
}

/*main*/

main {
    text-align: center;
    width: auto;
}

main h2 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 3rem;
    max-width: 50rem;
    margin: 7rem auto 3rem auto;
}

main h2 span {
    display: block;
    font-weight: 600;
}

.test {
    max-width: 60rem;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

.test label {
    display: inline-block;
    width: 20rem;
    height: auto;
    margin: 0.5rem 0.8rem 0 0.8rem;
    background-size: cover;
    background-color: rgb(255,255,255,0.1);
    padding: 1.3rem 0 1.3rem 0;
    border-radius: 2rem;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.test input[type="radio"]:checked+label {
    background: rgb(210,0,148);
    background: linear-gradient(180deg, rgba(210,0,148,1) 0%, rgba(144,0,128,1) 100%);
}

/*footer*/

footer {
    margin-top: 7rem;
    text-align: center;
    color: white;
    font-family: 'outfit', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

footer p span {
    color: #D20094;
}