/*Generale*/
body {
    font-size: 1em;
    background-image: url(../../../assets-immagini/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
}

/*header*/

header {
    text-align: left;
    width: auto;
    padding-left: 6rem;
    padding-top: 3rem;
}

#logo {
    height: 2.5rem;
    width: auto;
}

/*main*/

main {
    text-align: center;
    width: auto;
}

main p {
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

main h2 {
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 3rem;
    max-width: 50rem;
    margin: 7rem auto 3rem auto;
}

main h2 span {
    display: block;
    font-weight: 600;
}

.test {
    max-width: 60rem;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

/*.test label {
    display: inline-block;
    width: 20rem;
    height: auto;
    margin: 0.5rem 0.6rem 0 0.6rem;
    background-size: cover;
    background: rgb(255,255,255,0.1);
    padding: 1.3rem 0 1.3rem 0;
    border-radius: 2rem;
    text-align: center;
    border: 2px, solid;
}*/

.test label {
    display: inline-block;
    width: 20rem;
    height: auto;
    margin: 0.5rem 0.6rem 0 0.6rem;
    padding: 0.2rem;
    /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    background-color: transparent;*/
    background: rgb(255,255,255);
    background: linear-gradient(175deg, rgba(255,255,255,0.9) 10%, rgba(255, 255, 255, 0.1) 90%);
    border-radius: 2rem;
    text-align: center;
}

.test label p {
    padding: 1.3rem 0 1.3rem 0;
    background: linear-gradient(175deg, rgba(22, 4, 57, 0.9) 10%, rgba(30, 6, 66, 0.4) 90%);
    border-radius: 2rem;
    text-align: center;
    margin-top: 0;
}

.test label:hover {
    background-color: rgb(255,255,255,0.1);
}

.test .corretta, .test .corretta:hover {
    display: inline-block;
    width: 20rem;
    height: auto;
    margin: 0.5rem 0.6rem 0 0.6rem;
    padding: 0.2rem;
    background-image: none;
    background: rgb(85, 199, 36);
    background: linear-gradient(180deg, rgb(32, 97, 4) 0%, rgb(21, 69, 1) 100%);
    border-radius: 2rem;
    text-align: center;
}

.test .corretta p, .test .sbagliata p {
    padding: 1.3rem 0 1.3rem 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    text-align: center;
    margin-top: 0;
}

.test #rispostaUtenteCorretta {
    background: rgb(85, 199, 36);
    background: linear-gradient(180deg, rgba(85, 199, 36,1) 0%, rgb(56, 113, 32) 100%);
}

.test .sbagliata, .test .sbagliata:hover {
    display: inline-block;
    width: 20rem;
    height: auto;
    margin: 0.5rem 0.6rem 0 0.6rem;
    padding: 0.2rem;
    background-image: none;
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgb(135, 4, 4) 0%, rgb(69, 2, 2) 100%);
    border-radius: 2rem;
    text-align: center;
}



.test #rispostaUtenteSbagliata  {
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgb(238, 28, 28) 0%, rgb(170, 14, 14) 100%);
}

input[type="radio"] {
    display: none;
}

/*.test input[type="radio"]:checked+label {
    background: rgb(210,0,148);
    background: linear-gradient(180deg, rgba(210,0,148,1) 0%, rgba(144,0,128,1) 100%);
}*/

.test button {
    display: block;
    margin: 2rem auto 0 auto;
    color:#0b113b;
    background-color: #00FFFF;
    border: none;
    min-width: 120px;
    height: auto;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    padding: 1rem 1rem;
    font-size:16px;
}

button:hover {
    color: #0b113b;
    box-shadow: 0 0px 15px #00FFFF;
  }

button:active {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #00FFFF;
  }

.test input[type="number"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0.5rem 0.6rem 0 0.6rem;
    background-size: cover;
    background-color: rgb(255,255,255,0.1);
    padding: 1.3rem 0 1.3rem 0;
    border-radius: 2rem;
    text-align: center;
    border: none;
    color: white;
    font-size: 2rem;
  }

  

/*footer*/

footer {
    margin-top: 7rem;
    text-align: center;
    color: white;
    font-family: 'outfit', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 600;
    margin-bottom: 7rem;
}

footer p span {
    color: #D20094;
}